# macOS
.DS_Store

# Xcode - user-specific state
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Xcode - build products
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (if ever added)
Pods/
Carthage/Build/
